/.idea/.idea.DailyCal.dir/.idea/codeStyles/codeStyleConfig.xml
/.idea/.idea.DailyCal.dir/.idea/contentModel.xml
/.idea/.idea.DailyCal.dir/.idea/encodings.xml
/.idea/.idea.DailyCal.dir/.idea/indexLayout.xml
/.idea/.idea.DailyCal.dir/.idea/modules.xml
/.idea/.idea.DailyCal.dir/.idea/projectSettingsUpdater.xml
/.idea/.idea.DailyCal.dir/riderModule.iml
/.idea/.idea.DailyCal.dir/.idea/vcs.xml
/.idea/.idea.DailyCal.dir/.idea/workspace.xml
